.audio {
  max-width: 360px;
  width: 360px;
  cursor: pointer;
  border-radius: 8px;

  background-color: rgba(174, 183, 194, 0.12);
  position: relative;

  transition: 0.4s;

  &:hover {
    background-color: rgba(174, 183, 194, 0.12);
  }

  &--playing {
    .audio__poster-effect {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__poster {
    $size: 40px;

    height: $size;
    width: $size;
    border-radius: 4px;
    background: blue;
    margin-right: 12px;
    overflow: hidden;
    position: relative;

    &-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &-effect {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      transition: opacity 0.4s;

      visibility: visible;
      opacity: 1;
    }
  }

  &__player {
    display: none;
  }

  &__title {
    font-size: 16px !important;
  }

  &__executor {
    color: #818c99;
    font-size: 13px !important;
    letter-spacing: 0.2px;
  }

  &__timer {
    color: #818c99;
    font-size: 13px !important;
    margin-left: auto !important;
  }

  &__col {
    display: flex;
    align-items: center;
    padding: 4px;
    padding-right: 16px;

    &--info {
      flex: 1;
      padding: 4px;
      padding-left: 12px;
    }
  }

  &__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 6px;
    line-height: 0;
  }

  &__options {
    position: relative;
  }
}
