.progress-bar {
  height: 2px;
  width: 0;
  background-color: blueviolet;
  transition: width 0.1s;

  border-radius: 1px;
}

.test {
  & .MuiSlider-thumb {
    height: 4px;
    width: 4px;
    background-color: #fff;
    box-shadow: none;
  }

  & .MuiSlider-rail {
    background-color: blueviolet;
    opacity: 0.1;
  }

  &.MuiSlider-root {
    padding: 0;
  }
}
