.progress-bar {
  width: 100%;

  &:hover {
    .MuiSlider-thumb {
      background-color: blueviolet;
    }
  }

  & .MuiSlider-thumb {
    height: 4px;
    width: 4px;
    background-color: transparent;
  }

  & .MuiSlider-rail {
    background-color: blueviolet;
    opacity: 0.1;
  }

  & .MuiSlider-track {
    background-color: blueviolet;
    opacity: 0.5;
  }

  &.MuiSlider-root {
    padding: 0;
  }
}
